<div class="body" style="padding-top: 20px;">
			<div style="text-align: center;">
			  <%= image_tag("/assets/images/garuda.png", height: '160', width: '160') %>
			</div>
			
			<% unless @errors.nil? %>
			<h2 style="color:white;background:red;">Pengajuan Gagal. Silahkan cek pesan dibawah ini</h2>
				<div style="padding:4px;color:red;font-size:10pt;">
					<% @errors.each do |fs| %>
						<%= simple_format(fs[0].to_s + " = " + fs[1].to_s + "\n")  %>
					<%end%>
				</div>
			<%end%>	
				
			<!-- Red color scheme -->
			<%= simple_form_for @passport, url: passports_path, :method => :post, :html => { :class => "sky-form", :multipart => true } do |f| %>
				<header>Formulir Pengurusan Paspor/SPLP untuk WNI di Korea Selatan</header>
				
				
				<fieldset>
					<div class="row">
						<section class="col col-6">
							<label class="label">Tujuan Aplikasi</label>
							<label class="select">
								<%= f.input_field :application_type, :required => true,
								collection: { 'Perpanjang Paspor' => 'perpanjang-paspor', 
								          	  'Pembuatan Paspor' => 'pembuatan-paspor', 'Pembuatan SPLP' => 'pembuatan-splp' } %>
							<i></i>
							</label>
						</section>
						<section class="col col-6">
							<label class="label">Alasan Permohonan</label>
							<label class="select">
								<%= f.input_field :application_reason, 
								collection: { 'Paspor Habis (Masa Berlakunya)' => 'habis-masa', 'Paspor Habis (Halamannya)' => 'habis-halaman',
								          	  'Memperpanjang Kontrak' => 'perpanjang-kontrak', 'Akan Pulang ke Indonesia' => 'pulang-indonesia' } %>
							<i></i>
							</label>
						</section>
					</div>
					<div class="row" id="paspor_type" style="display:none;">
						<section class="col col-6">
							<label class="label">Jenis Paspor</label>
							<label class="select">
								<%= f.input_field :paspor_type, 
								collection: { '24 Halaman' => '24', '48 Halaman' => '48' }, :selected => '24'  %>
							<i></i>
							</label>
						</section>
					</div>
				</fieldset>
				
				<fieldset>
					<div class="row">
						<section class="col col-4">
							<label class="label">Nama Lengkap</label>
							<label class="input">
								<i class="icon-append icon-user"></i>
								<%= f.input_field :full_name , :maxlength => 32  %>
							</label>
						</section>	
						<section class="col col-4">
							<label class="label">Jenis Kelamin</label>
							<label class="select">
								<%= f.input_field :kelamin, 
								collection: { 'Laki - laki' => 'L/M', 'Perempuan' => 'P/F' } %>
							<i></i>
							</label>
						</section>
						<section class="col col-4">
							<label class="label">Pas Foto Digital</label>
							<label for="file" class="input input-file">
								<div class="button">
									<%= f.input_field :photo, as: :file, class: 'fileplaceholder' %>Unggah</div>
									<%= f.input_field :photopath, readonly: true %>
							</label>
							<div class="note"><strong>Catatan : </strong> Hanya berkas gambar JPG/JPEG/PNG. Ukuran Maks. 2MB<br />Gambar wajib merupakan pas foto resmi rapih dan jelas dengan latar belakang putih. Contoh : <a href="http://goo.gl/F9bvxO" target="_blank">http://goo.gl/F9bvxO</a></div>
						</section>			
					</div>

					<div class="row">
						<section class="col col-4">
							<label class="label">Tempat Lahir</label>	
							<label class="input">
									<i class="icon-append icon-globe"></i>
									<%= f.input_field :placeBirth , :maxlength => 30  %>
							</label>
						</section>

						<section class="col col-4">
							<label class="label">Tanggal Lahir</label>	
							<label class="input">
									<i class="icon-append icon-calendar"></i>
									<%= f.input_field :dateBirth, class: 'datePick' %>
							</label>
							<div class="note"><strong>Format : </strong>yyyy/mm/dd</div>
						</section>
						
						<section class="col col-4">
							<label class="label">Status Warga Negara</label>
							<label class="select">
								<%= f.input_field :citizenship_status, 
								collection: { 'Indonesia' => 'IDN', 'Dwi Kewarganegaraan' => 'Dwi' } %>
							<i></i>
							</label>
						</section>
					</div>					
				</fieldset>
				<fieldset>
					<h4>Data Detail</h4>	
					<hr />
					<div class="row">
						<section class="col col-4">
							<label class="label">No. Paspor Terakhir (Paspor Sebelumnya)</label>
							<label class="input">
								<i class="icon-append icon-book"></i>
								<%= f.input_field :lastPassportNo, :maxlength => 32 %>
							</label>
						</section>
						
						<section class="col col-4">
							<label class="label">Tanggal Terbit Paspor Terakhir</label>
							<label class="input">
								<i class="icon-append icon-calendar"></i>
								<%= f.input_field :dateIssued, class: 'datePick' %>
							</label>
							<div class="note"><strong>Format : </strong>yyyy/mm/dd</div>
						</section>
						
						<section class="col col-4">
							<label class="label">Tempat Pengeluaran Paspor Terakhir</label>
							<label class="input">
								<i class="icon-append icon-globe"></i>
								<%= f.input_field :placeIssued, :maxlength => 30 %>
							</label>
						</section>
					</div>
				</fieldset>
				<fieldset>
					<div class="row">
						<section class="col col-3">
							<label class="label">Pekerjaan di Korea</label>
							<label class="input">
								<i class="icon-append icon-wrench"></i>
								<%= f.input_field :jobStudyInKorea, :maxlength => 50  %>
							</label>
						</section>
						
						<section class="col col-3">
							<label class="label">Jenis Pekerjaan</label>
							<label class="select">
								<%= f.input_field :jobStudyTypeInKorea, 
								collection: { 'Tenaga Ahli' => 'TA', 'Tenaga Administrasi/Tingkat Pimpinan' => 'TP', 'Tenaga Pelaksana' => 'TS', 'Pelajar/Mahasiswa' => 'P', 'ISTERI/SUAMI' => 'IS' } %>
							<i></i>
							</label>
						</section>
						
						<section class="col col-3">
							<label class="label">Nama Perusahaan/Sekolah/Instansi</label>
							<label class="input">
								<i class="icon-append icon-home"></i>
								<%= f.input_field :jobStudyOrganization, :maxlength => 50 %>
							</label>							
						</section>
						
				  </div>
				  <div class="row">
				  		<section class="col col-3"></section>
						<section class="col col-6">
						<label class="label">Alamat Perusahaan/Sekolah/Instansi</label>
						<label class="textarea textarea-expandable">
							<i class="icon-append icon-road"></i>
							<%= f.input_field :jobStudyAddress, :row => 5, :maxlength => 50, as: :text %>
						</label>						
						</section>
					</div>

					<div class="row">
						<section class="col col-3">
							<label class="label">No Telepon di Korea</label>
							<label class="input">
								<i class="icon-append icon-phone"></i>
								<%= f.input_field :phoneKorea, :maxlength => 30 %>
							</label>
						</section>
						
						<section class="col col-6">
						<label class="label">Alamat Tinggal di Korea</label>
						<label class="textarea textarea-expandable">
							<i class="icon-append icon-road"></i>
							<%= f.input_field :addressKorea, :row => 5, :maxlength => 100, as: :text %>
						</label>						
						</section>
					</div>
					
					<div class="row">
						<section class="col col-3"></section>
						<section class="col col-3">
							<label class="label">Kota</label>
							<label class="input">
								<i class="icon-append icon-road"></i>
								<label class="select">
								<%= f.input_field :cityKorea, 
								collection: { 'Andong' => 'Andong',
											  'Ansan' => 'Ansan',
											  'Anseong' => 'Anseong',
											  'Anyang' => 'Anyang',
											  'Asan' => 'Asan',
											  'Boryeong' => 'Boryeong',
											  'Bucheon' => 'Bucheon',
											  'Busan' => 'Busan',
											  'Changwon' => 'Changwon',
											  'Cheonan' => 'Cheonan',
											  'Cheongju' => 'Cheongju',
											  'Chuncheon' => 'Chuncheon',
											  'Chungju' => 'Chungju',
											  'Daegu' => 'Daegu',
											  'Daejeon' => 'Daejeon',
											  'Dangjin' => 'Dangjin',
											  'Donghae' => 'Donghae',
											  'Gangneung' => 'Gangneung',
											  'Geoje' => 'Geoje',
											  'Gimcheon' => 'Gimcheon',
											  'Gimhae' => 'Gimhae',
											  'Gimje' => 'Gimje',
											  'Gimpo' => 'Gimpo',
											  'Gongju' => 'Gongju',
											  'Goyang' => 'Goyang',
											  'Gumi' => 'Gumi',
											  'Gunpo' => 'Gunpo',
											  'Gunsan'	=> 'Gunsan',
											  'Guri' => 'Guri',
											  'Gwacheon' => 'Gwacheon',
											  'Gwangju' => 'Gwangju',
											  'Gwangmyeong' => 'Gwangmyeong',
											  'Gwangyang' => 'Gwangyang',
											  'Gyeongju' => 'Gyeongju',
											  'Gyeongsan' => 'Gyeongsan',
											  'Gyeryong' => 'Gyeryong',
											  'Hanam' => 'Hanam',
											  'Hwaseong' => 'Hwaseong',
											  'Icheon' => 'Icheon',
											  'Iksan' => 'Iksan',
											  'Incheon' => 'Incheon',
											  'Jecheon' => 'Jecheon',
											  'Jeongeup' => 'Jeongeup',
											  'Jeonju' => 'Jeonju',
											  'Jeju' => 'Jeju',
											  'Jinju' => 'Jinju',
											  'Naju' => 'Naju',
											  'Namyangju' => 'Namyangju',
											  'Namwon' => 'Namwon',
											  'Nonsan' => 'Nonsan',
											  'Miryang' => 'Miryang',
											  'Mokpo' => 'Mokpo',
											  'Mungyeong' => 'Mungyeong',
											  'Osan' => 'Osan',
											  'Paju' => 'Paju',
											  'Pocheon' => 'Pocheon',
											  'Pohang' => 'Pohang',
											  'Pyeongtaek' => 'Pyeongtaek',
											  'Sacheon' => 'Sacheon',
											  'Sangju' => 'Sangju',
											  'Samcheok' => 'Samcheok',
											  'Sejong' => 'Sejong',
											  'Seogwipo' => 'Seogwipo',
											  'Seongnam' => 'Seongnam',
											  'Seosan' => 'Seosan',
											  'Seoul' => 'Seoul',
											  'Siheung' => 'Siheung',
											  'Sokcho' => 'Sokcho',
											  'Suncheon' => 'Suncheon',
											  'Suwon' => 'Suwon',
											  'Taebaek' => 'Taebaek',
											  'Tongyeong' => 'Tongyeong',
											  'Uijeongbu' => 'Uijeongbu',
											  'Uiwang' => 'Uiwang',
											  'Ulsan' => 'Ulsan',
											  'Wonju' => 'Wonju',
											  'Yangju' => 'Yangju',
											  'Yangsan' => 'Yangsan',
											  'Yeoju' => 'Yeoju',
											  'Yeongcheon' => 'Yeongcheon',
											  'Yeongju' => 'Yeongju',
											  'Yeosu' => 'Yeosu',
											  'Yongjin' => 'Yongjin' 
											  			  
								} %>
							<i></i>
							</label>
						</section>
					</div>

				    <div class="row">
				    <section class="col col-3">
							<label class="label">No Telepon di Indonesia</label>
							<label class="input">
								<i class="icon-append icon-phone"></i>
								<%= f.input_field :phoneIndonesia, :maxlength => 50 %>
							</label>
						</section>
					<section class="col col-6">
						<label class="label">Alamat di Indonesia</label>
						<label class="textarea textarea-expandable">
							<i class="icon-append icon-home"></i>
							<%= f.input_field :addressIndonesia, :row => 5, :maxlength => 50, as: :text %>
						</label>
						<div class="note"><strong>Note:</strong> Tuliskan alamat yang benar-benar bisa dihubungi saat darurat.</div>
					</section>
				    </div>
				    
				    <div class="row">
						<section class="col col-3"></section>
						<section class="col col-3">
							<label class="label">Kelurahan</label>
							<label class="input">
								<i class="icon-append icon-road"></i>
								<%= f.input_field :kelurahanIndonesia, :maxlength => 30 %>
							</label>
						</section>
						<section class="col col-3">
							<label class="label">Kecamatan</label>
							<label class="input">
								<i class="icon-append icon-road"></i>
								<%= f.input_field :kecamatanIndonesia, :maxlength => 30 %>
							</label>
						</section>
						<section class="col col-3">
							<label class="label">Kabupaten</label>
							<label class="input">
								<i class="icon-append icon-road"></i>
								<%= f.input_field :kabupatenIndonesia, :maxlength => 30 %>
							</label>
						</section>
					</div>

				</fieldset>
				
				<fieldset class="splp" style="display:none;">
					<div class="row">

						<section class="col col-6">
							<label class="label">Tiba di Korea</label>	
							<label class="input">
									<i class="icon-append icon-calendar"></i>
									<%= f.input_field :dateArrival, class: 'datePick' %>
							</label>
							<div class="note"><strong>Note:</strong> Hanya diisi oleh WNI yang bekerja via skema G2G/EPS.</div>
						</section>

						<section class="col col-6">
							<label class="label">Dikirim oleh</label>
							<label class="select">
								<%= f.input_field :sendingParty, 
								collection: { 'BNP2TKI' => '1', 'PJTKI' => '2', 'Perusahaan Korea di Indonesia' => '3', 'Lain-Lain' => '4' } %>
							<i></i>
							</label>
							<div class="note"><strong>Note:</strong> Hanya diisi oleh WNI yang bekerja via skema G2G/EPS.</div>
						</section>
					</div>
				</fieldset>
				<fieldset style="text-align:justify;">
					<h4>Disclaimer</h4>
					<hr />
					<p>Dengan mengisi form ini Saya menyatakan bahwa semua data yang diisikan merupakan informasi yang sebenar-benarnya. Segala kesalahan informasi yang dapat menyebabkan kerugian adalah tanggung jawab Saya dan tidak dapat di tangguhkan pada pihak lain. KBRI Seoul dan staff terkait dapat menolak/meminta perubahan data dan informasi terkait permohonan jika tidak sesuai dengan syarat dan ketentuan</p>
				</fieldset>
				<footer>
					<button type="submit" class="button">Ajukan Aplikasi</button>
					<button type="button" class="button button-secondary" onclick="window.history.back();">Kembali</button>
				</footer>
			<% end %>
			<!--/ Red color scheme -->			
</div>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script type="text/javascript" src="/assets/js/jquery-ui-1.10.3.custom.min.js"></script>
<script type="text/javascript">
			$(function()
			{
				$('#passport_application_type').change(function(){
					if($(this).val() == 'pembuatan-splp'){
						$('.splp').show();
					}else{
						$('#paspor_type').show();
					}
				});	
				// Regular datepicker
				$('.datePick').datepicker({
					dateFormat: 'yyyy/mm/dd',
					prevText: '<i class="icon-chevron-left"></i>',
					nextText: '<i class="icon-chevron-right"></i>'
				});
				
				$('.fileplaceholder').change(function(){					
					filename = $(this).val();
					$(this).parent().next().val(filename.split("\\").pop());
				});
				
			});			
</script>